In [38]:
# Extension Task 2 - Create a data visualisation diagram to show destination and highest scores.
# sklearn won't install - error code. Tried multiple times on different days/time, went to Stack Overflow to ask, tried the solutions offered but still unsuccessful
# so I could not complete extension tasks. 

pip install -U scikit-learn

SyntaxError: invalid syntax. Perhaps you forgot a comma? (Temp/ipykernel_8576/3341140253.py, line 5)

In [37]:
# Extention Task 1 - Is there a correlation between number of all-inclusive hotels and score?


from sklearn.datasets import load_iris
destinationsdata = load_iris()
df = pd.DataFrame(data['destinationsdata'], column = data['feature_names'])
df['No of hotels'] = data['Score']
df.head()

SyntaxError: invalid syntax. Perhaps you forgot a comma? (Temp/ipykernel_8576/1746148824.py, line 3)

In [33]:
# Task  8 - Filter the data score below 2 ( I need to know if these destinations should be removed or there is a problem)

destinationsdata = pd.read_csv("destinations.csv")
myfilter = destinationsdata["Score"] < 2
allinc_hotels = destinationsdata[myfilter]
allinc_hotels

Empty DataFrame
Columns: [Destination, Score, Avg hotel stars, No of hotels, Most-visited city]
Index: []

In [30]:
# Task 7 - Filter the data by score above 8

destinationsdata = pd.read_csv("destinations.csv")
myfilter = destinationsdata["Score"] > 8
allinc_hotels = destinationsdata[myfilter]
allinc_hotels

,Destination,Score,Avg hotel stars,No of hotels,Most-visited city
0,Spain,9,4,300,Barcelona
6,United States of America,9,4,1000,Los Angeles
9,Norway,10,4,140,Oslo
10,Indonesia,10,3,1500,Jakarta
11,Thailand,9,3,1400,Phuket

In [31]:
# Task 6 - Find all the destinations where there are more than 9 all-inclusive hotels

destinationsdata = pd.read_csv("destinations.csv")
myfilter = destinationsdata["No of hotels"] > 9
allinc_hotels = destinationsdata[myfilter]
allinc_hotels

,Destination,Score,Avg hotel stars,No of hotels,Most-visited city
0,Spain,9,4,300,Barcelona
1,United Kingdom,6,4,450,London
2,Italy,8,3,600,Rome
3,France,7,4,700,Paris
4,Denmark,6,3,230,Copenhagen
5,Netherlands,7,4,200,Amsterdam
6,United States of America,9,4,1000,Los Angeles
7,Sweden,8,3,300,Stockholm
8,Finland,7,3,210,Helsinki
9,Norway,10,4,140,Oslo
10,Indonesia,10,3,1500,Jakarta
11,Thailand,9,3,1400,Phuket
12,Phillipines,8,4,1300,Manila
13,Singapore,8,5,210,Singapore

In [25]:
# Task 5 - Find the highest scoring destination

destinationsdata = pd.read_csv("destinations.csv")

destinationsdata.nlargest(1, "Score", keep='first')

  Destination  Score  Avg hotel stars  No of hotels Most-visited city
9      Norway     10                4           140              Oslo

In [23]:
# Task 4 - Find the lowest scoring destination

destinationsdata = pd.read_csv("destinations.csv")

destinationsdata.nsmallest(1, "Score", keep='first')

      Destination  Score  Avg hotel stars  No of hotels Most-visited city
1  United Kingdom      6                4           450            London

In [21]:
# Task 3 - Find the mean number of all-inclusive hotels across all destinations

destinationsdata = pd.read_csv("destinations.csv")
destinationsdata["No of hotels"].mean()

610.0

In [18]:
# Task 2b - Print row 3-8 (using loc)

import pandas as pd
destinationsdata = pd.read_csv("destinations.csv", index_col = "Destination")
print(destinationsdata.loc[["Italy", "France", "Denmark", "Netherlands", "United States of America", "Sweden", "Finland"]])

                          Score  Avg hotel stars  No of hotels  \
Destination
Italy                         8                3           600
France                        7                4           700
Denmark                       6                3           230
Netherlands                   7                4           200
United States of America      9                4          1000
Sweden                        8                3           300
Finland                       7                3           210

                         Most-visited city
Destination
Italy                                 Rome
France                               Paris
Denmark                         Copenhagen
Netherlands                      Amsterdam
United States of America       Los Angeles
Sweden                           Stockholm
Finland                           Helsinki

In [11]:
# Task 2a - Print row 3-8 ( using iloc)

import pandas as pd
destinationsdata = pd.read_csv("destinations.csv")
print(destinationsdata.iloc[2:9])

                Destination  Score  Avg hotel stars  No of hotels  \
2                     Italy      8                3           600
3                    France      7                4           700
4                   Denmark      6                3           230
5               Netherlands      7                4           200
6  United States of America      9                4          1000
7                    Sweden      8                3           300
8                   Finland      7                3           210

  Most-visited city
2              Rome
3             Paris
4        Copenhagen
5         Amsterdam
6       Los Angeles
7         Stockholm
8          Helsinki

In [4]:

# Task 1 - how many rows and columns in your file?
# I print the file in order to find out

import pandas as pd
destinationsdata = pd.read_csv("destinations.csv")
print(destinationsdata)

                 Destination  Score  Avg hotel stars  No of hotels  \
0                      Spain      9                4           300
1             United Kingdom      6                4           450
2                      Italy      8                3           600
3                     France      7                4           700
4                    Denmark      6                3           230
5                Netherlands      7                4           200
6   United States of America      9                4          1000
7                     Sweden      8                3           300
8                    Finland      7                3           210
9                     Norway     10                4           140
10                 Indonesia     10                3          1500
11                  Thailand      9                3          1400
12               Phillipines      8                4          1300
13                 Singapore      8                5           210

   Most-visited city
0          Barcelona
1             London
2               Rome
3              Paris
4         Copenhagen
5          Amsterdam
6        Los Angeles
7          Stockholm
8           Helsinki
9               Oslo
10           Jakarta
11            Phuket
12            Manila
13         Singapore